<!DOCTYPE html>
<html>
<head>
	<title>Emissor de Escala</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/plugins/monthSelect/style.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <div class="panel" >
  <div class="panel-header">
  <div class="message" id="mpickr">
  <div class="message-header">
  <flat-pickr :config="mconfig" v-model="monthpick" class="input" />
  </div>
  </div>
  </div>
  <div class="panel-block">
<table class="table has-text-centered is-striped">
<thead><!--incio da linha com os titulos-->
<tr>
  <th></th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th v-if="condFivDom">Domingo</th>
  <th v-if="condFivDom"></th>
</tr>
<tr>
	<th>Mat</th>
	<th>Colaborador</th>
  <th><domingo add-weeks="0" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="1" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="2" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="3" :get-date="monthpick"></domingo></th>
	<th>folga</th>
  <th v-if="condFivDom"><domingo add-weeks="4" :get-date="monthpick"></domingo></th>
<th v-if="condFivDom">folga</th>
</tr><!--fim da linha com os titulos-->
</thead>
<tbody>
<tr  v-for="colab in colabList">
  <td id="cmat">{{colab.mat}}</td>
  <td id="cnome">{{colab.nome}}</td>
	<td> <!--dropdown para seleção dos horarios-->
<time-entrance :timelist="timeList"></time-entrance>
</td>
<td><!-- data da folga-->
  <folga :get-date="monthpick" add-weeks="1"></folga>
</td>
<td> <!--dropdown para seleção dos horarios-->
<time-entrance :timelist="timeList"></time-entrance>
</td>
<td><folga :get-date="monthpick" :add-weeks="2"></folga></td>
<td> <!--dropdown para seleção dos horarios-->
 	<time-entrance :timelist="timeList"></time-entrance>
</td>
<td><folga :get-date="monthpick" add-weeks="3"></folga></td>
<td> <!--dropdown para seleção dos horarios-->
 	<time-entrance :timelist="timeList"></time-entrance>
</td>
<td><folga :get-date="monthpick" add-weeks="4"></folga></td>
<td v-if="condFivDom">
  <time-entrance :timelist="timeList"></time-entrance>
</td>
<td v-if="condFivDom"><folga :get-date="monthpick" add-weeks="5"></folga></td>
</tr>
<tr>
<td><a href="#" @click="modal = true" class="button">+ </a></td>
<td><a href="#" @click="hmodal = true" class="button">+ </a></td>
</tr>
</tbody>
</table>
  </div>
  </div>
  <div class="modal" :class="{ 'is-active': modal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Adicionar Colaborador</p>
      <button class="delete" aria-label="close" @click="modal = false"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
  <label class="label">Matricula</label>
  <div class="control">
    <input class="input" v-model="colabMat" type="text" placeholder="Ex. 564733">
  </div>
</div>
<div class="field">
  <label class="label">Nome completo</label>
  <div class="control">
    <input class="input" v-model="colabNome" type="text" placeholder="Digite...">
  </div>
</div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="addColab">Salvar</button>
      <button class="button" @click="modal = false">Cancelar</button>
    </footer>
  </div>
</div>
  <div class="modal" :class="{ 'is-active': hmodal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Adicionar horario</p>
      <button class="delete" aria-label="close" @click="hmodal = false"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
  <label class="label">Codigo</label>
  <div class="control">
    <input class="input" v-model="horaCod" type="text" placeholder="Ex. 564733">
  </div>
</div>
<div class="field">
  <label class="label">tempo por escrito</label>
  <div class="control">
    <input class="input" v-model="horaEscrito" type="text" placeholder="10:00-13:15/13:30-16:15">
  </div>
</div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="addHorario">Salvar</button>
      <button class="button" @click="hmodal = false">Cancelar</button>
    </footer>
  </div>
</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js" type="text/javascript"></script>
<script src="js/vuepouch.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/l10n/pt.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/plugins/monthSelect/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
