<!DOCTYPE html>
<html>
<head>
	<title>Emissor de Escala</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/plugins/monthSelect/style.css">
</head>
<body>
<div id="app">
  <div class="message" style="margin-bottom: 0">
  <div class="message-header">
  <flat-pickr :config="mconfig" v-model="monthpick" :class="mclass" />
  </div>
  </div>
  <div class="message is-dark">
<table class="table message-body is-striped">
<thead><!--incio da linha com os titulos-->
<tr>
  <th></th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th>Domingo</th>
  <th></th>
  <th v-if="condFivDom">Domingo</th>
  <th v-if="condFivDom"></th>
</tr>
<tr>
	<th>Mat</th>
	<th><button type="button"  @click="addHorario">+</button></th>
  <th><domingo add-weeks="0" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="1" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="2" :get-date="monthpick"></domingo></th>
	<th>folga</th>
	<th><domingo add-weeks="3" :get-date="monthpick"></domingo></th>
	<th>folga</th>
  <th v-if="condFivDom"><domingo add-weeks="4" :get-date="monthpick"></domingo></th>
<th v-if="condFivDom">f0lga</th>
</tr><!--fim da linha com os titulos-->
</thead>
<tbody>
<tr  v-for="colab in colabList">
  <td>{{colab.mat}}</td>
  <td>{{colab.nome}}</td>
	<td> <!--dropdown para seleção dos horarios-->
<time-entrance :timee="timeList"></time-entrance>
</td>
<td><!-- data da folga-->
  <folgga :get-date="monthpick" add-weeks="1"></folgga>
</td>
<td> <!--dropdown para seleção dos horarios-->
<time-entrance :timee="timeList"></time-entrance>
</td>
<td><folgga :get-date="monthpick" add-weeks="2"></folgga></td>
<td> <!--dropdown para seleção dos horarios-->
 	<time-entrance :timee="timeList"></time-entrance>
</td>
<td><folgga :get-date="monthpick" add-weeks="3"></folgga></td>
<td> <!--dropdown para seleção dos horarios-->
 	<time-entrance :timee="timeList"></time-entrance>
</td>
<td><folgga :get-date="monthpick" add-weeks="4"></folgga></td>
<td v-if="condFivDom">
  <time-entrance :timee="timeList"></time-entrance>
</td>
<td v-if="condFivDom"><folgga :get-date="monthpick" add-weeks="5"></folgga></td>
</tr>
</tbody>
<tfoot>
<a href="#" @click="modal = true">+ colaborador</a>
</tfoot>
</table>
  </div>
  <div class="modal" :class="{ 'is-active': modal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Adicionar Colaborador</p>
      <button class="delete" aria-label="close" @click="modal = false"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
  <label class="label">Matricula</label>
  <div class="control">
    <input class="input" v-model="colabMat" type="text" placeholder="Ex. 564733">
  </div>
</div>
<div class="field">
  <label class="label">Nome completo</label>
  <div class="control">
    <input class="input" v-model="colabNome" type="text" placeholder="Digite...">
  </div>
</div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="addColab">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/vuepouch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/l10n/pt.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.2/dist/plugins/monthSelect/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
